<header>
  <a href="#" class="marque">Portfolio</a>
  <div class="nav">
    <a href="#main">Accueil</a>
    <a href="#about">A propos</a>
    <a href="#skills">Compétences</a>
    <a href="#atouts">Atouts</a>
    <a href="#projet">Projets</a>
    <a href="#contact">Contact</a>
  </div>
</header>