<header class="header" id="header">
  <nav class="nav container">

    <a href="#" class="nav_logo">Vladislav</a>

    <div class="nav_menu" id="nav-menu">
      <ul class="nav_list grid">
        <li class="nav_objet">
          <a href="#home" class="nav_lien">
            <i class="fas fa-home"></i> Accueil
          </a>
        </li>

        <li class="nav_objet">
          <a href="#propos" class="nav_lien">
            <i class="fas fa-user-tie"></i> A Propos
          </a>
        </li>

        <li class="nav_objet">
          <a href="#competences" class="nav_lien">
            <i class="far fa-file-alt"></i> Mes compétences
          </a>
        </li>

        <li class="nav_objet">
          <a href="#portfolio" class="nav_lien">
            <i class="far fa-image"></i> Portfolio
          </a>
        </li>

        <li class="nav_objet">
          <a href="#contact" class="nav_lien">
            <i class="fas fa-id-card"></i> Contactez-moi
          </a>
        </li>
      </ul>

      <i class="fas fa-times nav_close" id="nav-close"></i>
    </div>

    <div class="nav_btn">
      <div class="nav_toggle" id="nav-toggle">
        <i class="far fa-folder-open"></i>
      </div>
    </div>
  </nav>
</header>