<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<!-- PRESENTATION -->
<section class="main" id="main">
  <div class="content">
    <h2>Bonjour, je suis<br><span>Vladislav GAVRILOV</span></h2>

    <div class="animated_text">
      <h3>Junior</h3>
      <h3>Web Developpeur</h3>
    </div>

    <!-- BUTTON SUR LE LIEN MES PROJETS -->
    <a href="#" class="btn">Voir mes projets</a>
    <ul>
      <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" class="social"><i class="far fa-envelope"></i></a></li>
      <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="#" class="social"><i class="fab fa-github"></i></a></li>
    </ul>

  </div>
</section>

<!-- ABOUT ME SECTION -->
<section class="about" id="about">

  <!-- TITLE ABOUT ME -->
  <div class="title">
    <h2 class="section-title">Qui suis-je?</h2>
  </div>

  <!-- IMAGE AND DESCRIPTION -->
  <div class="content">

    <!-- IMAGE ABOUT ME -->
    <div class="column col-left">
      <div class="img-card">
        <img src="/images/Linkedin-Vlad-2.jpg" alt="Photo_about">
      </div>
    </div>

    <!-- DESCRIPTION ABOUT ME -->
    <div class="column col-right">
      <h2 class="content-title">Bonjour ! Bienvenue sur mon portfolio !</h2>
      <p class="text">Je suis Vladislav GAVRILOV, un <strong>Développeur web junior</strong> passionné par les nouvelles
        technologies. J’ai récemment obtenu mon diplôme à l’issue d’une formation <strong>de développeur web et web
          mobile</strong> , que j’ai entamé pour me reconvertir professionnellement.<br>
        Cette formation m’a permis de progresser dans l’identification des problèmes et dans leur résolution. J’ai
        également appris plusieurs langages de programmation.<br>
        Aujourd’hui, j'ambitionne de mettre mes nouvelles compétences au profit d’un projet, c’est pourquoi je recherche
        <strong>un CDI ou une alternance.</strong><br>
        Vous doutez toujours? Contactez-moi pour que nous puissions nous rencontrer.
      </p>

      <!-- SOCIAL ICONS ABOUT -->
      <div class="wrapper">
        <div class="buts">
          <div class="icons">
            <i class="fab fa-facebook"></i>
          </div>
          <span>Facebook</span>
        </div>

        <div class="buts">
          <div class="icons">
            <i class="fab fa-linkedin"></i>
          </div>
          <span>LinKedin</span>
        </div>

        <div class="buts">
          <div class="icons">
            <i class="fab fa-github"></i>
          </div>
          <span>GitHub</span>
        </div>
      </div>
    </div>
  </div>
</section>



<!-------------------------------- STRENGTHS SECTION -->
<section class="atouts" id="atouts">

  <!-- STRENGHTS TITLE -->
  <div class="title">
    <h2 class="section-title">Mes Atouts</h2>
  </div>

  <div class="services-center container">
    <!-- ATOUT -->
    <!-- ATOUT ONE -->
    <div class="service">
      <span><i class="fas fa-pencil-alt"></i></span>
      <h3>WEB DESIGN</h3>
      <p>Développement de partie Front-End. <br><br>
        Maquettage et Design du site. <br><br>
        Optimisation de l'expérience utilisateur.
      </p>
    </div>

    <!-- ATOUT TWO -->
    <div class="service">
      <span><i class="fas fa-laptop-code"></i></span>
      <h3>DÉVELOPPEMENT WEB</h3>
      <p>Développement de la partie Back-End.<br><br>
        Sécurité et analyse des performances. <br><br>
        Mise en place des fonctionnalités.
      </p>
    </div>

    <!-- ATOUT THREE -->
    <div class="service">
      <span></span>
      <h3>WEB DESIGN</h3>
      <p>Développement de partie Front-End. <br><br>
        Maquettage et Design du site. <br><br>
        Optimisation de l'expérience utilisateur.
      </p>
    </div>
  </div>
</section>


<!-------------------------------- PROJETS SECTION -->
<section class="projet" id="projet">

  <!-- PROJET TITLE -->
  <div class="title">
    <h2 class="section-title">Mes Projets</h2>
    <span class="section_subtitle">Le travail le plus récent</span>
  </div>

  <!-- CONTENT PROJET -->
  <div class="portfolio_container container">
    <div>
      <div class="portfolio_content grid">
        <a href=""><img src="/images/first_site_exam.png" alt="Projet Travel Planet" class="portfolio_img"></a>
        <div class="portfolio_data">
          <h3 class="portfolio_title">Le Travel Planet</h3>
          <p class="portfolio_description">
            C'est un blog de voyage. La création Travel Planet pour partager avec les visiteurs les voyages.
          </p>
          <a href="#" class="btn btn-primary portfolio_button">
            Voir le site
            <i class="fas fa-arrow-right button_icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>