<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<!-- SCROLL TOP BUTTON -->
<div class="scrollToTop-btn">
  <i class="far fa-arrow-alt-circle-up"></i>
</div>


<!-- PRESENTATION -->
<section class="main" id="main">
  <div class="content">
    <h2>Bonjour, je suis<br><span>Vladislav GAVRILOV</span></h2>

    <div class="animated_text">
      <h3>Junior</h3>
      <h3>Web Developpeur</h3>
    </div>

    <!-- BUTTON SUR LE LIEN MES PROJETS -->
    <a href="#projet" class="btn">Voir mes projets</a>
    <ul>
      <li><a href="https://www.facebook.com/profile.php?id=100005918256998" target="_blank" title="Facebook" class="social"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="mailto: vladislav_gavrilov05@yahoo.fr" title="Email" class="social"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://www.linkedin.com/in/vladislav-gavrilov-7732b0212/" target="_blank" title="Linkedin" class="social"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://github.com/Vlad974-web" target="_blank" title="GitHub" class="social"><i class="fab fa-github"></i></a></li>
    </ul>

  </div>
</section>

<!-- ABOUT ME SECTION -->
<section class="about" id="about">

  <!-- TITLE ABOUT ME -->
  <div class="title reveal">
    <h2 class="section-title">Qui suis-je?</h2>
  </div>

  <!-- IMAGE AND DESCRIPTION -->
  <div class="content">

    <!-- IMAGE ABOUT ME -->
    <div class="column col-left reveal">
      <div class="img-card">
        <img src="/images/Linkedin-Vlad-2.jpg" alt="Photo_about">
      </div>
    </div>

    <!-- DESCRIPTION ABOUT ME -->
    <div class="column col-right reveal">
      <h2 class="content-title">Bonjour ! Bienvenue sur mon portfolio !</h2>
      <p class="text">Je suis Vladislav GAVRILOV, un <strong>Développeur web junior</strong> passionné par les nouvelles
        technologies. J’ai récemment obtenu mon diplôme à l’issue d’une formation <strong>de développeur web et web
          mobile</strong> , que j’ai entamé pour me reconvertir professionnellement.<br>
        Cette formation m’a permis de progresser dans l’identification des problèmes et dans leur résolution. J’ai
        également appris plusieurs langages de programmation.<br>
        Aujourd’hui, j'ambitionne de mettre mes nouvelles compétences au profit d’un projet, c’est pourquoi je recherche
        <strong>un CDI ou une alternance.</strong><br>
        Vous doutez toujours? Contactez-moi pour que nous puissions nous rencontrer.
      </p>

      <!-- SOCIAL ICONS ABOUT -->
      <div class="wrapper">
        <div class="buts">
          <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100005918256998" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
          </div>
          <span>Facebook</span>
        </div>

        <div class="buts">
          <div class="icons">
            <a href="https://www.linkedin.com/in/vladislav-gavrilov-7732b0212/" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
          <span>LinKedin</span>
        </div>

        <div class="buts">
          <div class="icons">
            <a href="https://github.com/Vlad974-web" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
          </div>
          <span>GitHub</span>
        </div>
      </div>
    </div>
  </div>
</section>



<!-------------------------------- STRENGTHS SECTION -->
<section class="atouts" id="atouts">

  <!-- STRENGHTS TITLE -->
  <div class="title reveal">
    <h2 class="section-title">Mes Atouts</h2>
  </div>

  <div class="services-center container">
    <!-- ATOUT -->
    <!-- ATOUT ONE -->
    <div class="service reveal">
      <span><i class="fas fa-pencil-alt"></i></span>
      <h3>WEB DESIGN</h3>
      <p>Développement de partie Front-End. <br><br>
        Maquettage et Design du site. <br><br>
        Optimisation de l'expérience utilisateur.
      </p>
    </div>

    <!-- ATOUT TWO -->
    <div class="service reveal">
      <span><i class="fas fa-laptop-code"></i></span>
      <h3>DÉVELOPPEMENT WEB</h3>
      <p>Développement de la partie Back-End.<br><br>
        Sécurité et analyse des performances. <br><br>
        Mise en place des fonctionnalités.
      </p>
    </div>

    <!-- ATOUT THREE -->
    <div class="service reveal">
      <span></span>
      <h3>WEB DESIGN</h3>
      <p>Développement de partie Front-End. <br><br>
        Maquettage et Design du site. <br><br>
        Optimisation de l'expérience utilisateur.
      </p>
    </div>
  </div>
</section>


<!-------------------------------- PROJETS SECTION -->
<section class="projet" id="projet">

  <!-- TITLE SECTION -->
  <div class="title reveal">
    <h2 class="section-title">Mes Projets</h2>
    <span class="section__subtitle">Le travail le plus récent</span>
  </div>

  <!-- PROJETS -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 reveal">
        <div class="card" style="width: 20rem;">
          <a href="https://vladislav-gavrilov.fr/" target="_blank" title="En savoir plus">
            <img src="/images/first_site_exam.png" class="card-img-top" alt="Projet Travel Planet">
          </a>
          <div class="card-body">
            <h5 class="card-title">dfdsfdsfsdsqdsqdsdsqdsdfsdfdsfdfsdfd</h5>
            <p class="card-text">fdsfdfdsf</p>
            <a href="https://vladislav-gavrilov.fr/" class="btn btn-primary" target="_blank" title="Voir le projet"
              style="font-size: 15px;">
              Voir <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="content">
    <div class="column col-left">
      <div class="img-card">
        <a href="https://vladislav-gavrilov.fr/" title="En savoir plus" target="_blank">
          <img src="/images/first_site_exam.png" alt="Projet Travel Planet" class="img-projet">
        </a>
      </div>
    </div>

    <div class="column col-right">
      <h6>Design et Développement Web</h6>
      <h1>Le Travel Planet</h1>
      <ul class="techno-icon">
        <li><i title="Javascript ES6 / ES7" class="fab fa-js"></i></li>
        <li><i title="HTML 5" class="fab fa-html5"></i></li>
        <li><i title="CSS 3" class="fab fa-css3-alt"></i></li>
        <li><i title="Bootstrap 4" class="fab fa-bootstrap"></i></li>
        <li><i title="NodeJS" class="fab fa-node-js"></i></li>
        <li><i title="MongoDB" class="devicon-mongodb-plain-wordmark colored"></i></li>
      </ul>
    </div>
  </div> -->
</section>


<!-------------------------------- CONTACT SECTION -->
<section class="contact" id="contact">

  <!-- TITLE SECTION -->
  <div class="title reveal">
    <h2 class="section-title">CONTACTEZ-MOI!</h2>
  </div>

  <!-- PAGE CONTACT -->
  <div class="contact-center container">

    <!-- LEFT CONTACT -->
    <div class="left reveal">
      <h2>Entrer en contact</h2>
      <p>N'hésitez pas à prendre contact avec moi pour en savoir plus</p>

      <!-- NAME -->
      <div>
        <span class="icon"><i class="fas fa-user"></i></span>
        <span class="content">
          <h3 class="contact__left">Nom/Prenom</h3>
          <span>GAVRILOV Vladislav</span>
        </span>
      </div>

      <!-- LOCATION -->
      <div>
        <span class="icon"><i class="fas fa-map-pin"></i></span>
        <span class="content">
          <h3>Location</h3>
          <span>La Roche sur Yon</span>
        </span>
      </div>

      <!-- EMAIL -->
      <div>
        <span class="icon"><i class="far fa-envelope"></i></span>
        <span class="content">
          <h3>Email</h3>
          <a href = "mailto: vladislav_gavrilov05@yahoo.fr" class="envoyez__email">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          Envoyer mail</a>
        </span>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="right reveal">
      <form class="form">
        <h2>Envoyez-moi un message</h2>
        <div>
          <input type="text" placeholder="Entrez votre nom..." required>
          <input type="email" placeholder="Entrez votre email..." required>
        </div>
        <input type="text" placeholder="Précisez l'objet de votre message..." required>
        <textarea name="" cols="30" rows="10" placeholder="Écrivez votre message ..." required></textarea>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </form>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>