<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

  <section class="main" id="main">
    <div class="content">
      <h2>Bonjour, je suis<br><span>Vladislav GAVRILOV</span></h2>
      
      <div class="animated_text">
        <h3>Junior</h3>
        <h3>Web Developpeur</h3>
      </div>

      <!-- BUTTON SUR LE LIEN MES PROJETS -->
      <a href="#" class="btn">Voir mes projets</a>

      <!-- RESEAUX SOCIAUX -->
      <!-- <div class="media_icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div> -->
      <ul>
        <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="social"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#" class="social"><i class="fab fa-github"></i></a></li>
      </ul>

    </div>
  </section>

<%- include('partials/footer.ejs') %>