<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<!-- PRESENTATION -->
<section class="main" id="main">
  <div class="content">
    <h2>Bonjour, je suis<br><span>Vladislav GAVRILOV</span></h2>

    <div class="animated_text">
      <h3>Junior</h3>
      <h3>Web Developpeur</h3>
    </div>

    <!-- BUTTON SUR LE LIEN MES PROJETS -->
    <a href="#" class="btn">Voir mes projets</a>
    <ul>
      <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" class="social"><i class="far fa-envelope"></i></a></li>
      <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="#" class="social"><i class="fab fa-github"></i></a></li>
    </ul>

  </div>
</section>

<!-- ABOUT ME SECTION -->
<section class="about" id="about">

  <!-- TITLE ABOUT ME -->
  <div class="title">
    <h2 class="section-title">Qui suis-je?</h2>
  </div>

  <!-- IMAGE AND DESCRIPTION -->
  <div class="content">

    <!-- IMAGE ABOUT ME -->
    <div class="column col-left">
      <div class="img-card">
        <img src="/images/Linkedin-Vlad-2.jpg" alt="Photo_about">
      </div>
    </div>

    <!-- DESCRIPTION ABOUT ME -->
    <div class="column col-right">
      <h2 class="content-title">Bonjour ! Bienvenue sur mon portfolio !</h2>
      <p class="text">Je suis Vladislav GAVRILOV, un <strong>Développeur web junior</strong> passionné par les nouvelles
        technologies. J’ai récemment obtenu mon diplôme à l’issue d’une formation <strong>de développeur web et web
          mobile</strong> , que j’ai entamé pour me reconvertir professionnellement.<br>
        Cette formation m’a permis de progresser dans l’identification des problèmes et dans leur résolution. J’ai
        également appris plusieurs langages de programmation.<br>
        Aujourd’hui, j'ambitionne de mettre mes nouvelles compétences au profit d’un projet, c’est pourquoi je recherche
        <strong>un CDI ou une alternance.</strong><br>
        Vous doutez toujours? Contactez-moi pour que nous puissions nous rencontrer.
      </p>

      <!-- SOCIAL ICONS ABOUT -->
      <div class="wrapper">
        <div class="buts">
          <div class="icons">
            <i class="fab fa-facebook"></i>
          </div>
          <span>Facebook</span>
        </div>

        <div class="buts">
          <div class="icons">
            <i class="fab fa-linkedin"></i>
          </div>
          <span>LinKedin</span>
        </div>

        <div class="buts">
          <div class="icons">
            <i class="fab fa-github"></i>
          </div>
          <span>GitHub</span>
        </div>
      </div>
    </div>
  </div>
</section>



<!-------------------------------- SKILLS SECTION -->
<section class="skills" id="skills">

  <!-- SKILLS TITLE -->
  <div class="title">
    <h2 class="section-title">Mes compétences</h2>
  </div>

  <!-- ME SKILLS -->
  <!-- SKILL ONE -->
  <div class="service">
    <span><i class="fas fa-pencil-alt"></i></span>
    <h3>WEB DESIGN</h3>
    <p>Développement de partie Front-End. <br><br>
      Maquettage et Design du site. <br><br>
      Optimisation de l'expérience utilisateur.
    </p>
  </div>

  <!-- SKILL TWO -->
  <div class="service">
    <span><i class="fas fa-laptop-code"></i></span>
    <h3>DÉVELOPPEMENT WEB</h3>
    <p>Développement de la partie Back-End. <br><br>
      Sécurité et analyse des performances. <br><br>
      Mise en place des fonctionnalités.
    </p>
  </div>

  <!-- SKILL THREE -->
  <div class="service">
    <span></span>
    <h3>WEB DESIGN</h3>
    <p>Développement de partie Front-End. <br><br>
      Maquettage et Design du site. <br><br>
      Optimisation de l'expérience utilisateur.
    </p>
  </div>
</section>
<%- include('partials/footer.ejs') %>