<!--------------------------------- FOOTER ---------------------------------->
<footer class="footer">
  <span class="footer-title">Gavrilov Vladislav</span>
  <p>Copyright &copy;2021 <a href="#">Tous les droits sont réservés.</a></p>
</footer>

<!--------------------------------- SCRIPT ---------------------------------->
<script src="../../javascript/script.js"></script>
</body>
</html>