@import url('component/index.css');
@import url('component/navbar.css');
@import url('component/about.css');
@import url('component/skills.css');
@import url('component/projet.css');
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ========== GLOBAL ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 110vh;
}

section {
  padding: 100px 60px;
}