.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 60px;
}

/* AJOUTER UNE LIGNE EN BAS DU TEXT */
.section-title::before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);
}

/* AJOUTER UN CERCLE À LA LIGNE */
.section-title::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}

/* REDUIRE IMAGE */
.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

/* METTRE LE TTITRE EN FORME */
.about .content .col-right .content-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* METTRE PARAGRAPH EN FORME */
.about .content .col-right .text {
  font-size: 16px;
}

/* SOCIAL ICONS ABOUT */
.wrapper .buts {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all .3s ease-out;
}
.wrapper .buts:hover {
  width: 200px;
}
.wrapper .buts .icons {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
  transition: all .3s ease-out;
}
.wrapper .buts:nth-child(1):hover .icons {
  background: #4267b2;
}
.wrapper .buts:nth-child(2):hover .icons {
  background: #1da1fe;
}
.wrapper .buts:nth-child(3):hover .icons {
  background: #333;
}
.wrapper .buts .icons i {
  font-size: 25px;
  line-height: 60px;
  transition: all .3s ease-out;
}
.wrapper .buts .icons a i {
  color: #000000;
}
.wrapper .buts:hover .icons i {
  color: #fff;
}
.wrapper .buts span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all .3s ease-out;
}
.wrapper .buts:nth-child(1) span {
  color: #4267b2;
}
.wrapper .buts:nth-child(2) span {
  color: #1da1fe;
}
.wrapper .buts:nth-child(3) span {
  color: #333;
}

/* =============== MEDIA QUERY =============== */
@media screen and (max-width: 786px) {
  /* TITLE */
  .section-title {
    font-size: 24px;
  }

  /* SECTION AND CONTENT */
  .about .content {
    flex-direction: column;
    text-align: center;
  }

  .about .content .column {
    position: relative;
    width: 100%;
  }

  .about .content .col-left .img-card img {
    left: 100px;
  }

  .about .content .col-right .content-title {
    margin-top: 20px;
  }

  .wrapper .buts .icons {
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  .about .content .col-left .img-card img {
    left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .about .content .col-left .img-card img {
    left: 0px;
    width: 100%;
    border-radius: 0px;
  }
}