.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/images/Portfolio.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 45px;
  font-weight: 600;
}

.animated_text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated_text h3 {
  color: #4e9eff;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated_text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0%{
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -10px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}

.btn {
  color: #fff;
  background: #3a6cf4;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #235bf6;
}

/* .media_icons {
  margin-top: 30px;
}

.media_icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 30px;
}

ul li {
  margin: 0 10px;
}

.social {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  width: 50px;
  height: 50px;
}

.social:hover {
  color: #4e9eff;
}

.social::before{
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.social:hover:before {
  border-style: dotted;
  border-color: #4e9eff;
  animation: rotating 5s infinite;
  animation-timing-function: linear;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}