header {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: rgb(34 24 25);
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .marque {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .nav {
  position: relative;
}

header .nav a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .nav a:hover {
  color: #3a6cf4;
}

header.sticky .nav a:hover {
  color: #000;
}

/* =============== RESPONSIVE =============== */
@media screen and (max-width: 1040px) {
  header {
    padding: 15px 100px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .nav {
    display: none;
  }

  .menu-btn {
    position: absolute;
    background: url(/images/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/images/close.png)no-repeat;
    background-size: 30px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  header .nav.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    transition: 0.3s ease;
  }

  header .nav a {
    color: #000;
    font-size: 19px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .nav a:hover {
    background: #3a6cf4;
    color: #000;
    transition: 0.3s ease;
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 span {
    font-size: 25px;
  }

  .animated_text h3 {
    font-size: 29px;
  }
}