header {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: rgb(34 24 25);
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .marque {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .nav {
  position: relative;
}

header .nav a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .nav a:hover {
  color: #3a6cf4;
}

header.sticky .nav a:hover {
  color: #000;
}