.section__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
}

.btn-primary:hover .fa-arrow-right {
  transform: translateX(6px);
}


/* RESPONSIVE */
@media screen and (max-width: 435px) {
  .card {
    right: 25px;
  }
}

@media screen and (max-width: 392px) {
  .card {
    right: 40px;
  }
}