.protfolio_container {
  overflow: initial;
}

.portfolio_content {
  padding: 0 1.5rem;
}

.portfolio_img {
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title {
  font-size: 18px;
  margin-bottom: 8px;
}